<!DOCTYPE html>
<html lang="en">
<head>
<title>Ger says hello</title>
<meta charset="utf-8">
    
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <style>
* {
  box-sizing: border-box;
     
}

body {
  margin: 0;
     background-color: #EFEFEF;
}

/* Style the header */
.header {
  background-color: #EFEFEF;
  padding: 20px;
  text-align: center;
  color : #A9A9A9;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #CAEBF2;
  color : #A9A9A9;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color : #A9A9A9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
 padding-bottom: 200px;
    border-style: groove;
    
}
        
        #title{
            
            color : #FF3B3f;
            text-decoration: underline;
        }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
   
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
        
    /* Style the footer */
.footer {
  background-color: #CAEBF2;
  padding: 10px;
  text-align: center;
}    
        
</style>
    </head>
    <body>
        
<div class="header">
  <h1>Welcome</h1>
  <p>"We LOVE cars"</p>
</div>

<div class="topnav">
  <a href="/booking">Booking</a>
  <a href="/login">Login</a>
  <a href="/about">About</a>
  <a href="#">Contact</a>
    <a class="float-right" href="/admin">admin</a>
</div>

<div class="row">
  <div class="column">
    <h2 id="title"> Service </h2>
    <p>We do good service</p>
  </div>
  
  <div class="column">
    <h2 id="title">Repair</h2>
    <p>All repairs. Big or small. </p>
  </div>
  
  <div class="column">
    <h2 id="title">Market</h2>
    <p>Every sunday there is a market with local crafts</p>
  </div>
</div>
        
     <div class="footer">
  <p>Contact details</p>
         <p> Admin Login</p>
</div>   
        
    </body>
</html>
