<html>
    
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
   <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}


        #box {
  background-color: #E5E5E9;
  width: 500;
  border: 25px solid red;
  padding: 25px;
 
  text-align: center;
  display : inline-block;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px; /* this is half the height of your div*/  
  margin-left:-100px; /*this is half of width of your div*/
              
 
 
}
        
        #box2{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    
   
            
            
        }   
        
        
        
        body{  
background-color: #EFEFEF;
        
        }
        
        #title{
            
     text-align: center;
  color: #a9a9a9;
            
        }
       
     p.dashed  {border-style: dashed;}
       
       p.groove {
           
           border-style: groove;
           border-color: #CAEBF2;
       }
       
      p.three {
           margin-left: 80px;
          padding: 70px;
  border-style: solid;
 
  border-bottom: 6px solid red;
  background-color: lightgrey;
}
       
       p.four{
           
     height: 70px;
  width: 50%;
  background-color: powderblue;
       }
       
    </style>
        
  <body>

<h2 id = "title">Welcome </h2>
      
      <p class = "dashed"> look at these dashes</p>
      
      <p class="groove"> Gers garage is a family garage around for over 700 years</p>
      
      <p class = "three"> Price list</p>
      
      <p class="four"> This a height and width test</p>

</body>
</html>
